<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">PokerPlanner</span>
    <ul ng-controller="navigationCtrl">
        <li class="nav-item"><a class="nav-link" ng-click="back()">Back</a></li>
        <li class="nav-item" ng-hide="isAuth"><a class="nav-link" ng-click="signup()">Sign Up</a></li>
        <li class="nav-item" ng-hide="isAuth"><a class="nav-link" ng-click="login()">Login</a></li>
        <li class="nav-item" ng-show="isAuth"><a class="nav-link" ng-click="toPokerList()">Home</a></li>
        <li class="nav-item" ng-show="isAuth"><a class="nav-link" ng-click="toCreateBoard()">Create Pokerboard</a></li>
        <li class="nav-item" ng-show="isAuth"><a class="nav-link" ng-click="toGroup()">Group</a></li>
        <li class="nav-item" ng-show="isAuth"><a class="nav-link" ng-click="invites()">My Invites</a></li>
        <li class="nav-item" ng-show="isAuth"><a class="nav-link" ng-click="profile()">Profile</a></li>
        <li class="nav-item" ng-show="isAuth"><a class="nav-link" ng-click="logout()">Logout</a></li>
    </ul>
</nav>
