<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form name="myForm">
            <h1 style="text-align: center;">Edit Password</h1>
            
            <!-- Password input -->
            <div class="form-outline mb-3">
                <input type="password" 
                    name="password" ng-model="oldpassword" class="form-control form-control-lg" placeholder="Enter Old Password" required
                    novalidate />
                <label class="form-label reqd" for="form3Example4">Old Password</label>
            </div>

            <!-- New Password -->
            <div class="form-outline mb-3">
                <input type="password" id="form3Example4"
                    ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/" name="password"
                    ng-model="newpassword" class="form-control form-control-lg" placeholder="Enter New Password" required
                    novalidate />
                <span class="error_msg" ng-show="myForm.password.$invalid && myForm.password.$dirty">
                    <span ng-show="myForm.password.$error.required">Password is required.</span>
                    <span ng-show="myForm.password.$error.pattern">Password should be atleast 8 characters long
                        and should
                        contain one number,one character and one special character</span>
                </span>
                <label class="form-label reqd" for="form3Example4">New Password</label>
            </div>

            <!-- Confirm Password input -->
            <div class="form-outline mb-3">
                <input type="password" id="form3Example5" name="password2" ng-model="password2"
                    class="form-control form-control-lg" placeholder="Confirm password" required />
                <span class="error_msg" ng-show="myForm.password2.$dirty && newpassword != password2">Your
                    passwords must
                    match.</span>
                <label class="form-label reqd" for="form3Example5">Confirm Password</label>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="button" class="btn btn-danger btn-lg" ng-click="save()"
                    ng-disabled="myForm.$invalid || newpassword != password2"
                    style="padding-left: 2.5rem; padding-right: 2.5rem; margin-left:75px;">Save Passsword</button>
            </div>

        </form>
    <div>
</div>