.navbar{
  padding: 1rem;
}
.navbar ul{
  display: flex;
  text-decoration: none;
  list-style-type: none;
}
.nav-item{
  margin: 1px; 
  padding: 0rem 1rem;
}

.navbar li a{ 
  display: block; 
  width: 100%; 
  height: 100%; 
  border: 1px solid aqua;
  cursor: pointer;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.reqd::after{
    content: " * ";
    color: red;
}

form{
    margin-top:40px;
    border: 1px solid grey;
    padding: 20px 20px 20px 20px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 25px 15px lightgray;
}

.form-outline{
    position: relative;
}

.error_msg{
    position: relative;
    left: 0%;
    top:100%;
    color: red;
    width: 70%;
}
.my-chart{
  position: absolute;
  left: 0px;
  width: 100%;
  height: 500px;
}


/* email verification  */
.outer-box{
  background-color: rgb(71, 71, 71);
  width: 400px;
  height: 300px;
  margin-top: 100px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-img{
  margin-top: 40px;
  width: 90px;
}

.text-status{
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
}
/* .aligncenter{
  margin-left: 400px;
} */
.group-user{
  background-color: grey;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px 5px 40px;
  margin-top: 5px;
  border-radius: 8px;
}

.user-btn{
  color: white;
  border: 0px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
.btn-add-user{
  background-color: steelblue;
}

.btn-remove-user{
  background-color: crimson;
}

.btn-make-group{
  background-color: steelblue;
  margin-top: 10px;
}

.create-group-container{
  margin: 0px 40px 0px 40px;
}

.estimation-card-container{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.estimation-card{
  background-color: lightskyblue;
  height: 100px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border-radius: 5px;
}

.admin-actions{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.ticket-container{
  justify-content: center;
  display: flex;
  margin: 0px 50px 0px 50px;
}

.ticket{
  background-color: lightslategrey;
  width: 40%;
  padding: 20px 20px 50px 20px;
  border-radius: 5px;
}


.admin-container{
  text-align: center;
  margin-top: 20px;
}

.board-detail-container{
  text-align: center;
  margin-top: 50px;
}

.vote-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.vote{
  background-color: sandybrown;
  height: 120px;
  width: 100px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  padding: 20px 0px 0px 0px;
}

.participant{
  border-radius: 3px;
  margin-top: 6px;
}

.participant > span{
  background-color: grey;
  border-radius: 5px;
  padding: 1px 10px 1px 10px;
  text-transform: uppercase;
}

.right-panel{
  width: 150px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0.5px solid black;
  text-align: end;
  padding: 0px 10px;
  display: flex;
  border-radius: 5px;
  padding: 10px;
  flex-direction: column;
}

.final-estimate-container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid black;
}

.estimate-btn{
  margin-left: 20px;
}

.comment-btn{
  align-self: flex-end;
}

.comment-container{
  border: 1px solid black;
}

.comment-modal{
  width: 40%;
  margin: auto;
}

.modal-button-container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.comment-container{
  margin-bottom: 10px;
}

input[disabled='disabled'] {
  opacity: 0.4;
}

.form-error {
  color: red;
  font-size: 14px;
}

.main-heading{
  text-align: center;
  margin-top: 40px;
}


/* pokerboard */

.board-list{
  margin: 2rem;
  padding: 1rem;
  border: 1px solid cyan;
}

/* invites css */
table, th, td {
  border: 1px solid black;
  margin-left: 400px;
}

.backend-errors {
  color: crimson;
  font-size: 16px;
  font-weight: 600;
}