<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <!-- css -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="node_modules/n3-charts/build/LineChart.css">
    <link rel="stylesheet" href="css/main.css">
    
    <!-- node modules -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/lodash/lodash.js"></script>
    <script src="node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
    <script src="node_modules/restangular/src/restangular.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/n3-charts/build/LineChart.js"></script>
    <script src="node_modules/d3/d3.min.js"></script>
    <script src="node_modules/angular-cookies/angular-cookies.js"></script>

    <!-- project scipts -->
    <script src="main/app.js"></script>
    <script src="main/constants.js"></script>
    <script src="main/app.config.js"></script>
    <!-- <script src="main/app.run.js"></script> -->
    <script src="modules/navbar/navbar.js"></script>
    <script src="modules/signup/signupServices.js"></script>
    <script src="modules/signup/signup.controller.js"></script>
    <script src="modules/email verification/emailverificationController.js"></script>
    <script src="modules/email verification/emailverificationServices.js"></script>
    <script src="modules/login/loginServices.js"></script>
    <script src="modules/navbar/navbarService.js"></script>
    <script src="modules/login/login.controller.js"></script>
    <script src="modules/profile/profileServices.js"></script>
    <script src="modules/profile/profileControler.js"></script>
    <script src="modules/group/groupDetailController.js"></script>
    <script src="modules/group/groupServices.js"></script>
    <script src="modules/group/groupController.js"></script>
    <script src="modules/voting-board/votingServices.js"></script>
    <script src="modules/voting-board/votingController.js"></script>
    <script src="modules/editPassword/editPassword.js"></script>
    <script src="modules/pokerboard/createpoker.controller.js"></script>
    <script src="modules/pokerboard/listpoker.controller.js"></script>
    <script src="modules/pokerboard/pokerboardService.js"></script>
    <script src="modules/pokerboard/detailpoker.controller.js"></script>
    <script src="modules/poker-members/controller.js"></script>
    <script src="modules/poker-members/service.js"></script>
    <script src="modules/pokerboard/jiraCredentials.js"></script>
    <script src="modules/invite/invite.js"></script>
    <script src="modules/invite/inviteServices.js"></script>

    <title>Poker Planner</title>
</head>

<body ng-app="app">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">PokerPlanner</span>
        <ul ng-controller="navigationCtrl">
            <li class="nav-item"><a class="nav-link" ng-click="back()">Back</a></li>
            <li class="nav-item" ng-hide="isAuth"><a class="nav-link" ng-click="signup()">Sign Up</a></li>
            <li class="nav-item" ng-hide="isAuth"><a class="nav-link" ng-click="login()">Login</a></li>
            <li class="nav-item" ng-show="isAuth"><a class="nav-link" ng-click="toPokerList()">Home</a></li>
            <li class="nav-item" ng-show="isAuth"><a class="nav-link" ng-click="toCreateBoard()">Create Pokerboard</a></li>
            <li class="nav-item" ng-show="isAuth"><a class="nav-link" ng-click="toGroup()">Group</a></li>
            <li class="nav-item" ng-show="isAuth"><a class="nav-link" ng-click="profile()">Profile</a></li>
            <li class="nav-item" ng-show="isAuth"><a class="nav-link" ng-click="logout()">Logout</a></li>
        </ul>
    </nav>

    <div ui-view></div>
</body>

</html>
