<div class="email-verify-container">
    <h1 class="main-heading">Verify Email</h1>
    <hr>
    <h4 class=" main-heading backend-errors">{{statusMsg}}</h4>
    <p class='main-heading'>Verification link has been sent to you on your provided email please verify your account.</p>
    <div class='verify-btn-container'>
        <button class="btn btn-primary btn-lg" ng-click='goToLogin()'>Go to Login</button>
        <button class="btn btn-primary btn-lg" ng-click='resend()'>Resend Email</button>
    </div>
</div>