<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
    
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form name="myForm">
            <h1 style="text-align: center;">Jira Credentials</h1>
            <!-- URL input -->
            <div class="form-outline mb-4">
              <label class="form-label reqd" for="form3Example1">URL </label>
              <input type="text" id="form3Example1" name="url" ng-model="url" 
                ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/"
                class="form-control form-control-lg" placeholder="Enter Jira URL" required novalidate/>
              <span class="error_msg" ng-show="myForm.url.$invalid && myForm.url.$dirty">
                <span ng-show="myForm.url.$error.required">URL is required.</span>
                <span ng-show="myForm.url.$error.pattern">Invalid URL.</span>
              </span>
            </div>
  
            <!-- Username input -->
            <div class="form-outline mb-4">
              <label class="form-label reqd" for="form3Example3">Username</label>
              <input type="email" id="form3Example3" name="username" ng-model="username" class="form-control form-control-lg"
                placeholder="Enter email address" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required
                novalidate/>
              <span class="error_msg" ng-show="myForm.username.$invalid && myForm.username.$touched">
                <span ng-show="myForm.username.$error.required">Username is required.</span>
                <span ng-show="myForm.username.$error.pattern">Invalid username .</span>
              </span>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label reqd" for="form3Example4">Password</label>
              <input type="password" id="form3Example4"
                name="password"
                ng-model="password" class="form-control form-control-lg" placeholder="Enter password" required
                novalidate />
              <span class="error_msg" ng-show="myForm.password.$invalid && myForm.password.$touched">
                <span ng-show="myForm.password.$error.required">Password is required.</span>
              </span>
            </div>

            <!-- Error Messages -->
            <div class="error_msg">
              {{errmsg}}
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg" ng-click="createPokerboard()"
                ng-disabled="myForm.$invalid"
                style="padding-left: 2.5rem; padding-right: 2.5rem; margin-left:95px;">Continue</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  
</section>
  