<nav-bar></nav-bar>

<section class="vh-100" style="overflow-x:hidden;">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center">
            <h2 class="main-heading">Your Poker Boards</h2>
            <p class="mt-4 main-heading" ng-show="boardList.length==0">You have not created any pokerboards yet</p>
            <div class="filter-objects m-4">
                <h3>Filter Boards : </h3>
                <label for="manager">Manager : </label>
                <input type="text" name="manager" ng-model="manager" placeholder="Manager Name">
                <label for="title">Title : </label>
                <input type="text" name="title" ng-model="title" placeholder="Title">
            </div>
            <div>
                <div class="hor-rule"></div>
                <div class="tab-head">
                    <p>TITLE</p>
                    <p>DESCRIPTION</p>
                    <p>MANAGER</p>
                </div>
                <div class="hor-rule"></div>
            </div>
            <div ng-repeat="board in boardList 
            | filter : {title : title || undefined, manager_name : manager || undefined}">
                <div class="tab-content">
                    <p>{{board.title}}</p>
                    <p>{{board.description}}</p>
                    <p>{{board.manager_name}}</p>
                    <button ng-click="goToPokerboard(board.id)" class="join-btn btn-primary">Details</button>
                </div>
                <div class="hor-rule"></div>
            </div>
            <div>
            </div>
        </div>
    </div>
</section>
