<div class="background1">
    <div class="white">
        <div id="flex1">
            <h1 id="heading">Poker Planner</h1>
        </div>
        <div id="flex2">
            <button class="btn btn-light mybutton" ng-click="login()">Login</button>
            <button class="btn btn-light mybutton" ng-click="signup()" style="margin-left: 20px;">SignUp</button>
        </div>
    </div>
    <div class="white1">
        <div id="flex3">
            <h2 class="common">About</h2>
            <p style="margin-left: 55px;">
                Planning Poker® is the fun, easy way for your team to effectively plan and execute a sprint planning session.
                This free online scrum tool encourages collaboration and planning for distributed agile teams.Through lively discussion
                , your team will create more accurate estimations for healthier sprints.
            </p>
            <button class="common1"><a id="ppl" href="https://en.wikipedia.org/wiki/Planning_poker">Learn More</a></button>
        </div>
        <div id="flex3">
            <img src="images/1.png" style="margin-left: 30px;" alt="">
        </div>
    </div>
</div>