.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.reqd::after{
    content: " * ";
    color: red;
}

form{
    margin-top:40px;
    border: 1px solid grey;
    padding: 20px 20px 20px 20px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 25px 15px lightgray;
}

.form-outline{
    position: relative;
}

.error_msg{
    position: absolute;
    left: 108%;
    top:10%;
    color: red;
    width: 70%;
}
