<nav-bar></nav-bar>

<div class="main-outer">
    <h2 class="main-heading">Members</h2>
    <div class="tab-content" class='manager-container'>
        <h5>Manager : <span>{{ pokerboard.manager.email }}</span></h5>
    </div>
    <div class="tab-head">
        <p>NAME</p>
        <p>EMAIL</p>
        <p>ROLE</p>
    </div>
    <div class="hor-rule"></div>
    <div ng-repeat="member in members">
        <div class="tab-content">
            <p>{{member.user.first_name}} {{member.user.last_name}}</p>
            <p>{{member.user.email}}</p>
            <p>{{member.role}}</p>
            <button ng-click='removeMember(member.id)' ng-show='pokerboard.manager.id == user_id' class="join-btn btn-danger">Remove</button>
        </div>
        <div class="hor-rule"></div>
    </div>
</div>
