<nav-bar></nav-bar>

<div class="main-outer">
    <h2 class="main-heading">Members</h2>
    <div class="tab-content" class='manager-container'>
        <h5>Manager : <span>{{ pokerboard.manager.email }}</span></h5>
    </div>
    <div ng-repeat="member in members" class="poker-members">
        <hr>
        <div class="tab-content">
            <div class="d-flex justify-content-between">
                <h5>{{member.user.first_name}} {{member.user.last_name}}</h5>
                <h6 ng-if='member.group.name'> Group: {{member.group.name}}</h6>
            </div>
            <div class="d-flex justify-content-between">
                <h6>{{member.user.email}}</h6>
                <h6>{{member.role}}</h6>
            </div>
            <div class="d-flex align-items-end flex-column">
                <button type="button" class="btn btn-danger" ng-click='removeMember(member.id)' ng-show='isManager'>Delete</button>
            </div>
        </div>
        <hr>
    </div>
</div>
